SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=thanatosneo@gmail.com
SMTP_PASSWORD=oeytqtaoembrjvzl
SMTP_FROM_EMAIL=thanatosneo@gmail.com
SMTP_FROM_NAME=내 사주 리포트
SMTP_SUBJECT_PREFIX=saju-mvp
SMTP_USE_TLS=true

LEAD_STORE_BACKEND=sheet
GOOGLE_SHEETS_SPREADSHEET_ID=1OlyfWUYBopPcXON8_bFYFOUhknmUeLeon0CDE_f7boc
GOOGLE_SERVICE_ACCOUNT_FILE=secrets/fluted-factor-475421-b3-396dc6e313e6.json
